<div class="custom-header">
  <div class="text-center mb-8 anim-fade-in">
    <img src="{{ "/assets/initLogo.png"}}" class="logo-top">
  </div>
  <h1 hidden>Welcome to patricklai.ca</h1>
  <div class="header-content">
    <img src="{{ user.avatar_url }}" class="circle avatar">
    <div class="bubble typing-text">
      <p id="type-target1" class="mb-1 f2">Hey I'm Patrick Lai. 👋</p>
      <p id="type-target3" class="mb-3 f2">I'm a Web Developer based in Toronto.</p>
      <p id="type-target3" class="mb-1 f4">
        My current interests include:
      </p>
      <p id="type-target3" class="mb-1 f4 indent">
        💻 Frontend Design and Development and <br>
        📱 Cross-platform mobile development.
      </p>
    </div>
  </div>
  <div class="social-links-hdr-container">
    <div class="social-links-hdr-inner">
      <a href="mailto:patrick.lai.8k@gmail.com" class="tooltipped tooltipped-s" aria-label="email me!" target="_blank">
        <img class="contact-icon" src="{{ "/assets/dark-email.png"}}" /><span class="d-none">email</span>
      </a>
    </div>
    <div class="social-links-hdr-inner">
      <a href="https://www.linkedin.com/in/patricklaih/" class="tooltipped tooltipped-s" aria-label="LinkedIn" target="_blank">
        <img class="contact-icon" src="{{ "/assets/LI-In-Bug.png"}}" /><span class="d-none">LinkedIn</span>
      </a>
    </div>
    <div class="social-links-hdr-inner">
      <a href="https://github.com/patricklai8k" class="tooltipped tooltipped-s" aria-label="Github" target="_blank">
        <img class="contact-icon" src="{{ "/assets/GitHub-Mark.png"}}" /><span class="d-none">Github</span>
      </a>
    </div>
    <div class="social-links-hdr-inner">
      <a href="https://dribbble.com/patricklai" class="tooltipped tooltipped-s" aria-label="Dribbble" target="_blank">
        <img class="contact-icon" src="{{ "/assets/Dribble-mark.png"}}" /><span class="d-none">Dribble</span>
      </a>
    </div>
  </div>
</div>
<div class="next-section">
  <button id="scroll-1" class="next-button-image" />
</div>
