<div class="custom-header" id="customHeader">
  <canvas id="background"></canvas>
  <div class="mb-2 anim-fade-in logo-top-container">
    <img src="{{ "/assets/mainLogo_black.png"}}" class="logo-top">
    <div class="social-links-hdr-container">
      <div class="social-links-hdr-inner">
        <a
          href="mailto:patrick.lai.8k@gmail.com"
          class="tooltipped tooltipped-s"
          aria-label="email me!"
          target="_blank"
        >
          <img class="contact-icon" src="{{ "/assets/dark-email.png"}}" /><span
            class="d-none"
            >email</span
          >
        </a>
      </div>
      <div class="social-links-hdr-inner">
        <a
          href="https://www.linkedin.com/in/patricklaih/"
          class="tooltipped tooltipped-s"
          aria-label="LinkedIn"
          target="_blank"
        >
          <img class="contact-icon" src="{{ "/assets/LI-In-Bug.png"}}" /><span
            class="d-none"
            >LinkedIn</span
          >
        </a>
      </div>
      <div class="social-links-hdr-inner">
        <a
          href="https://github.com/patricklai8k"
          class="tooltipped tooltipped-s"
          aria-label="Github"
          target="_blank"
        >
          <img class="contact-icon" src="{{ "/assets/GitHub-Mark.png"}}" /><span
            class="d-none"
            >Github</span
          >
        </a>
      </div>
    </div>
  </div>
  <h1 hidden>Welcome to patricklai.ca</h1>
  <div class="header-content anim-fade-in">
      <h2 id="type-target1" class="header-title mb-1">Hi, I'm Patrick.</h2>
      <p id="type-target3" class="mb-3 f2">
        I'm a <span id="variable-role">Frontend Developer</span> based in Canada.
      </p>
  </div>
  
</div>
<div class="next-section">
  <button id="scroll-1" class="next-button-image" />
</div>
<script>
  var variableRoles = [
    "UI/UX Enthusiast",
    "Problem Solver",
    "Creative Thinker",
    "Team Player",
    "Frontend Developer",
  ];
  var i = 0;
  var role = document.getElementById("variable-role");
  setTimeout(function () {
    role.style.opacity = 0;
  }, 2300);
  role.style.transition = '0.2s';
  setInterval(function () {
    role.style.opacity = 1;
    setTimeout(function () {
      role.style.opacity = 0;
    }, 2300);
    role.innerHTML = variableRoles[i];
    i++;
    if (i == variableRoles.length) {
      i = 0;
    }
  }, 2500);
</script>
