<div>
  <h2 class="mb-4">Experience</h2>

  <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="company-container">
        <img src="{{ "/assets/pax_logo.svg"}}" class="mb-1 company-logo">
        <h3 class="company-name mb-2">PAX Labs</h3>
        <p class="mb-1">Senior Frontend Engineer</p>
        <div class="text-left">
          <p>
            PAX Labs was initially a cannibis smart hardware company, and
            transitioned to an ecommerce cannibis store during my time working
            for them.
          </p>
          <p>
            I worked on PAX's smart device web application. This application
            uses web-bluetooth to connect the end user's devices to PAX's web
            platform and app ecosystem. The web application would be able to
            control the user's device temperatures, gather information via NFC
            chips embedded in the insertable cartridges and also gather live
            usage data of 10s of thousands of users. This was an eye-opening
            experience because we built this app-level functionality all on the
            web, it showed me the power and creativity available to the
            frontend.
          </p>
          <p>
            I learned about the ecommerce side of the business when they
            transitioned to focus on direct to consumer sales throguh shopify.
            We decided to use our expertise in frontend technologies to improve
            our shopify store experience. Our team pitched a headless rebuild
            for our store that would allow us to create a fully custom design
            and allowed the developers to develop powerful integrations.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="company-container">
        <img src="{{ "/assets/influitive_logo.png"}}" class="mb-1 company-logo">
        <h3 class="company-name mb-2">Influitive Corporation</h3>
        <p class="mb-1">Frontend Engineer</p>
        <div class="text-left">
          <p>Influitve is a SAAS company for advocate marketing.</p>
          <p>
            I worked mostly on a React based frontend stack, had a role
            developing Android apps, and contributed to the Rails backend. This
            is where I learned and really appreciated functional programming for
            React and how elegant it can be. I used great libraries such as
            Ramda, Recompose and Emototion.
          </p>
          <p>
            This is really where I felt my interest for the visual design and
            development found its intersection. I worked with a team of
            designers and built my foundations for frontend development,
            allowing me to make beautiful, efficient and functional
            applications.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="company-container">
        <img src="{{ "/assets/architech_logo.png"}}" class="mb-1 company-logo">
        <h3 class="company-name mb-2">Architech</h3>
        <p class="mb-1">Software Engineer</p>
        <div class="text-left">
          <p>Architech is a client solutions company.</p>
          <p>
            I had a very interesting role as a consultant and developer. This
            was a good opportunity for me to learn multiple streams of the
            software industry. I had experience with the design and ideation
            faze, to the final handoff of digital products.
          </p>
          <p>
            This is where I first started developing modern frontend
            applications, first with Angular, then with React and Vue.
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="company-container">
        <img src="{{ "/assets/minted_logo.svg"}}" class="mb-1 company-logo">
        <h3 class="company-name mb-2">Minted</h3>
        <p class="mb-1">Software Engineer co-op</p>
        <div class="text-left">
          <p>Minted is an ecommerce website for art and stationary</p>
          <p>
            This was my final and most memorable internship. I had the great
            opportunity to work on an interesting product and field. It was my
            first experience with backend web development and I learned a lot.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
