  <footer class="custom-footer">
    <p class="mb-3">Thanks for visiting! Feel free to contact me.</p>
    <div class="social-links-ftr-container">
      <div class="social-links-ftr-inner">
        <a href="mailto:patrick.lai.8k@gmail.com" class="tooltipped tooltipped-s" aria-label="email me!" target="_blank">
          <img class="contact-icon" src="{{ "/assets/w-email.png"}}" /><span class="d-none">email</span>
        </a>
      </div>
      <div class="social-links-ftr-inner">
        <a href="https://www.linkedin.com/in/patricklaih/" class="tooltipped tooltipped-s" aria-label="LinkedIn" target="_blank">
          <img class="contact-icon" src="{{ "/assets/LI-In-w.png"}}" /><span class="d-none">LinkedIn</span>
        </a>
      </div>
      <div class="social-links-ftr-inner">
        <a href="https://github.com/patricklai8k" class="tooltipped tooltipped-s" aria-label="Github" target="_blank">
          <img class="contact-icon" src="{{ "/assets/GitHub-Mark-w.png"}}" /><span class="d-none">Github</span>
        </a>
      </div>
      <div class="social-links-ftr-inner">
        <a href="https://dribbble.com/patricklai" class="tooltipped tooltipped-s" aria-label="Dribbble" target="_blank">
          <img class="contact-icon" src="{{ "/assets/Dribble-mark-w.png"}}" /><span class="d-none">Dribble</span>
        </a>
      </div>
    </div>
  </footer>
  </body>
</html>
