---
---

@import url("https://unpkg.com/primer/build/build.css");
@import "highlight-syntax";

@font-face {
  font-family: "Restora";
  src: url("/assets/RestoraExtraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Restora";
  src: url("/assets/RestoraThinItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

h2 {
  font-size: 36px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1,
  h2,
  h3,
  h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul,
  ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul,
  li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.logo-top {
  width: 170px;
  z-index: 1;
}

.logo-top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  @media screen and (max-width: 600px) {
    align-items: center;
    padding-top: 36px;
    gap: 24px;
    flex-direction: column;
  }
}

.next-section {
  margin-top: -70px;
  position: relative;
  text-align: center;
  z-index: 3;
  @media screen and (max-width: 600px) {
    margin-top: -130px;
  }
}

.header-container {
  background-image: linear-gradient(40deg, #f7fafc, #e6e9f2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  height: 100vh;
}

.header-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.header-container-border {
  height: 100%;
  width: 100%;
}

.custom-header {
  height: 100%;
  color: #2e2a2a;
  position: relative;
  background: linear-gradient(178deg, #0066c8, #ff8a33);
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}

.color-accent {
  height: 50px;
  background: linear-gradient(40deg, #0637ff, #4184ff);
}

.min-height-full {
  min-height: 100vh;
}

.tech-container {
  border: 5px solid #0c30ff62;
  border-radius: 15px;
  @media screen and (max-width: 600px) {
    margin: 0 12px;
  }
}

.indent {
  margin-left: 25px;
}

.avatar {
  width: 150px;
  height: 150px;
  border: 5px solid white;
}

.header-title {
  font-size: 36px;
  font-weight: 700;
}

.header-content {
  color: #ffe4c3;
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  position: relative;
  margin-top: 10vh;
  z-index: 1;
  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.avatar-circle {
  z-index: 1;
}

.bubble {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  backdrop-filter: blur(10px);
  display: inline-block;
  padding: 20px 30px;
  position: relative;
  vertical-align: top;
  margin: 5px 30px 5px;
  z-index: 2;

  @media screen and (max-width: 600px) {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    margin: 5px 12px !important;
    padding: 20px 16px;
  }
}

.bubble::before {
  background-color: #f2f2f2;
  box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 65px;
  left: -13px;
  transform: rotate(29deg) skew(-35deg);
  width: 20px;

  border-bottom: solid 3px #635efd;
  border-left: solid 3px #635efd;
  display: none;
  @media screen and (max-width: 600px) {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    display: none;
  }
}

.hand-wave {
  animation: wave 2s;
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
  @media screen and (max-width: 600px) {
    left: calc(50% - 45px);
    display: none;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg) translate(-10px);
  }
  10% {
    transform: rotate(20deg) translate(10px);
  }
  20% {
    transform: rotate(-20deg) translate(-10px);
  }
  30% {
    transform: rotate(20deg) translate(10px);
  }
  40% {
    transform: rotate(-20deg) translate(-10px);
  }
  50% {
    transform: rotate(20deg) translate(10px);
  }
  60% {
    transform: rotate(-20deg) translate(-10px);
  }
  70% {
    transform: rotate(20deg) translate(10px);
  }
  80% {
    transform: rotate(-20deg) translate(-10px);
  }
  90% {
    transform: rotate(20deg) translate(10px);
  }
  100% {
    transform: rotate(0deg) translate(-10px);
  }
}

.next-button {
  width: 30px;
  height: 30px;
}

.next-button-image {
  width: 30px;
  height: 30px;
  background: url("/assets/chevron.png");
  background-size: 100%;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 2px 4px #b2b2b2;
  transition: ease 100ms;
}

.next-button-image:hover {
  transform: translate(0, -3px);
}

.company-container {
  padding: 20px;
}

.company-logo {
  height: 23px;
}

.company-name {
  color: #959da5;
  font-size: 12px;
}

.topics-container {
  justify-content: center;
}

.custom-footer {
  color: #ffffff;
  text-align: center;
  padding: 50px;
  background: linear-gradient(40deg, #0637ff, #4184ff);
}

.social-links-ftr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links-ftr-inner {
  padding: 0 10px;
}

.social-links-hdr-container {
  gap: 24px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    top: 26px;
    right: 35px;
  }
}

.contact-icon {
  max-height: 32px;
  max-width: 32px;
  @media screen and (max-width: 600px) {
    max-height: 24px;
    max-width: 24px;
  }
}

.experience-container {
  align-items: center;
  gap: 16px;
  justify-content: center;
}

.experience-card {
  max-width: 800px;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
}
