{% include header.html %}

<div class="header-container">
  <div class="header-container-inner">
    <div class="header-container-border">
      {% include customhead.html metadata=true %}
    </div>
  </div>
</div>
<!-- <div class="color-accent"></div> -->
<div class="container-xl py-6 p-responsive text-center">
  <div id="experiences" class="my-6">{% include experience.html %}</div>
</div>
<div class="container-sm py-4 p-responsive text-center tech-container">
  {% if site.topics %}
  <div class="mx-3">{% include interests.html %}</div>
  {% endif %}
</div>
<div class="container-lg py-4 p-responsive text-center">
  <!-- <div class="my-6 mb-9">
    {% include projects.html %}
  </div> -->

  {% unless posts_total == 0 %}
  <div class="my-6">{% include thoughts.html %}</div>
  {% endunless %}
</div>
{% include footer.html %}
 